body{
	background-image: url('../img/bg.jpg');
}

header{
	background-color: #383EAE;
	height: 80px;
	padding-top: 10px;
}

.edit{
	background-color: #ffffff;
	padding: 1% 6%;
  	-webkit-box-shadow: 0px 2px 5px silver;
  	-moz-box-shadow: 0px 2px 5px silver;
}

.arrow{
    width:5px;
    height:5px;
    border-style: solid;
    border-width: 10px;
    border-color: #B0B0B0 #ffffff #ffffff #ffffff;
}

.checkBx{
	height: 15px;
}